@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StandardPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Comment = FoodieSydney.Model.Comment;
@using PageController = FoodieSydney.Controller.PageController;
@{
    Layout = "master.cshtml";
    var page = Model;
    var SiblingPages = Model.Parent.Children.Where(x => x.ContentType.Alias == "page");
    var image = page.Value<IPublishedContent>("image");
    var enableImage = page.Value<bool>("enableImage");
    var commentList = PageController.GetCommentList(page);
    var commentFolder = page.Children.Where(x => x.ContentType.Alias == "commentFolder").FirstOrDefault();
    var enableComment = page.Value<bool>("enableComment");
    var comments = new Comment { Content = commentFolder };
    //var SwitchListHeader = Model.Parent.Value<bool>("switchListHeaders");
    //var pageDetail = page.Value<IHtmlString>("pageDetail");

    var pageHeader = page.Value("Header");
    var pageSubHeader = page.Value("SubHeader");
    var pageCreatedDate = page.CreateDate.ToString("dd/MM/yyyy HH:mm"); 
    var pageUpdatedDate = page.UpdateDate.ToString("dd/MM/yyyy HH:mm");
    var pageIntroduction = page.Value("Introduction");

}

<div id="main">
    <div class="container">
        <div class="row">
            <div id="sidebar" class="4u">
                <section>
                    <header>
                        <h2>관련 포스트</h2>
                    </header>
                    <ul class="style">
                        @foreach (var item in SiblingPages)
                        {
                            var header = item.Value("header");
                            var subHeader = item.Value("subHeader");

                            //if  Switch list header value is true, then switch the values of header and subheader
@*                             if (SwitchListHeader)
                            {
                                var temp = header;
                                header = subHeader;
                                subHeader = temp;
                            } *@

                            <li>
                                <a href="@item.Url()" class="@(item.IsAncestorOrSelf(Model) ? "active" : null)" style="text-decoration: none;">
                                    <p class="posted">@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</p>
                                    <p class="text">@header</p>
                                    <p class="text" style="font-size:150%">@subHeader</p>
                                </a>
                            </li>

                        }
                    </ul>
                </section>
            </div>

            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
                <section>
                    <header>
                        <h2>@pageHeader</h2>
                        <span class="byline">@pageSubHeader</span>
                        <p class="posted">@pageCreatedDate <br> Recent Updated Date: @pageUpdatedDate</p>
                    </header>
                    <div class="pageDetail">
                       @*  @pageDetail *@
                    </div>
                    @if (image != null && enableImage)
                    {
                        <img src="@image.Url()" alt="" class="image full" />
                    }

                    @pageIntroduction
                </section>

                @if (enableComment)
                {
                    <!-- Footer -->
                    <div id="comment">
                        <div class="container">
                            <div class="row">
                                <div class="commentBox">
                                    <h2>Comments:</h2>
                                    <div class="commentList">
                                        <ul>
                                            @foreach (var comment in commentList)
                                            {
                                                <li>
                                                    <div class="commentor">
                                                        @comment.CommentorName <span style="font-size:50%; font-weight:normal">@comment.Content.CreateDate.ToString("dd/MM/yyyy HH:mm")</span>
                                                    </div>
                                                    <div class="commentContent">
                                                        @comment.CommentContent
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <h3>Write Comment:</h3>
                                    
                                    @{Html.RenderPartial("~/Views/CommentFormPage.cshtml", comments);}
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (SiblingPages != null)
                {
                    @*  @await Umbraco.RenderMacroAsync("PageNavigation"); *@
                }
            </div>
        </div>
    </div>
</div>
